{% macro projectelmt(project) %}
  {% if project.galleryItemsOrder[0] is defined %}
    {% set projectGalleryFirstItem = project.galleryItemsOrder[0].galleryItem %}

    {% set imgCompletePath = projectGalleryFirstItem.getWebPath %}
  {% endif %}
  <li class="list-gallery__elmt {{ project.category.slugName }}" tabindex="1">
    <div class="list-gallery__elmt-container">
        <ul class="list-unstyled infos">
            <li>{{ project.title }}</li>
            <li>{{ project.category.name }}</li> 
            <li>{{ project.galleryItemsOrder|length }} image(s)</li>
        </ul>

        <ul class="toolbar list-unstyled">
            <li><a href="{{ path('backend_admin_project_update', { 'id': project.id }) }}" title="Modifier le projet {{ project.title }}">Modifier</a></li>
            <li><button 
                    class="reset-btn distruptive" 
                    data-toggle="modal" 
                    data-target="#removeItemGalleryModal" 
                    {% if project.galleryItemsOrder[0] is defined %}
                    {% set imgAbsolutePath = app.request.scheme ~ '://' ~ app.request.host ~ ':' ~ app.request.port ~ '/' ~ imgCompletePath %}
                    data-img-to-delete-src="{{ imgAbsolutePath }}"
                    {% endif %}
                    data-url="{{ path('backend_admin_project_delete', {'id' : project.id }) }}"
                    data-title-modal="Souhaitez-vous supprimer le projet {{ project.title }} ?"
                    data-id="{{ project.id }}"
                >Supprimer</button></li> 
        </ul>
    </div>

    {% if project.galleryItemsOrder[0] is defined %}
        {{ imgCompletePath }}
        <figure><img src="{{ imgCompletePath | imagine_filter('gallery_thumb') }}" alt="{{ projectGalleryFirstItem.path }}" /></figure>
        }
    {% endif %}
  </li>
{% endmacro %}