{% extends "BackendAdminBundle::layout.connected.html.twig" %}

{% import "BackendAdminBundle:Macros:menuheader.html.twig" as menuheader %}

{% form_theme form "BackendAdminBundle:Form:fields.html.twig" %}
{% form_theme form "BackendAdminBundle:Form:form_errors.html.twig" %}

{% block titleTab %}
  {% if (app.request.attributes.get('_route') == "backend_admin_project_update") %}
    Mettre à jour le projet {{ form.title.vars.value }}
  {% else %}
    Ajouter un nouveau projet
  {% endif %}
{% endblock %}


{% block sectiontitle %} 
  {% if (app.request.attributes.get('_route') == "backend_admin_project_update") %}
    Mettre à jour le projet {{ form.title.vars.value }}
  {% else %}
    Ajouter un nouveau projet
  {% endif %}

{% endblock %}
{% block menuHeader %} {{ menuheader.menuheader("", [{name: "Retour", url: path("backend_admin_projects_display")}]) }} {% endblock %}
{% block headerextras %}{% endblock %}

{% block main %}
  <div class="row">
    <form method="post" {{ form_enctype(form) }} class="col-xs-12" novalidate="novalidate" 
          action={{ (app.request.attributes.get('_route') == "backend_admin_project_update") ? path('backend_admin_project_update', { 'id': app.request.attributes.get('id') }) : path('backend_admin_project_add') }}>
        {{ form_widget(form._token) }}

        {{ form_errors(form) }}
        {{ form_errors(form.title) }}
        <div class="form-element">
            <label for="{{ form.title.vars.id }}">Nom du projet</label>
            {{ form_widget(form.title) }}
        </div>

        <div class="form-element">
            <label for="{{ form.description.vars.id }}">Description</label>
            {{ form_widget(form.description, {'attr': {'rows': 5}}) }}
        </div>

        <div class="form-element">
            <label for="{{ form.category.vars.id }}">Sélectionner catégorie</label>
            {{ form_widget(form.category) }}
        </div>
        
        <div class="form-element">
            <label for="{{ form.isOnline.vars.id }}">Mettre en ligne</label>
            {{ form_widget(form.isOnline) }}
        </div> 

        <div class="form-element" data-bind="with: sliderImageModal">
          <label for="sliderImageId">Sélectionner image du slider |
           <button class="reset-btn delete-btn" type="button" data-bind="visible: sliderImage()" data-delete-sliderimg>&times; Supprimer image</button>
          </label>
          <button class="image-slider" type="button" 
                  data-target="#gallerySliderModal" data-toggle="modal" 
                  data-hidden-input-slider-id="#sliderImageId">
            <figure>
              <img data-bind="attr: { src: sliderImage() ? sliderImage().thumb : null, 
                                      alt: sliderImage() ? sliderImage().name : null }, visible: sliderImage()" alt="">
            </figure>
          </button>
          {{ form_widget(form.sliderImageId, { 'id': 'sliderImageId'  }) }}
        </div>

        <div class="form-element">
          <label for="image-slider">Sélectionner image(s) du projet</label>
          <button type="button" class="btn-select-images" data-toggle="modal" data-target="#galleryModal">
            Sélectionner images
          </button>
        </div>

        <div class="form-element list-images-selected__container" data-bind="with: projectImagesModal">
            <div data-bind="visible: projectImages().length == 0" class="empty-message__container">
                <span class="empty-message">
                    Il n'y a pas d'images pour ce projet
                </span>
            </div>
             <ul data-hidden-input-id="#projectImagesId" 
                 class="row list-images-selected list-unstyled no-margin" 
                 data-bind="foreach: projectImages"
                 id="images-project">
                <li class="col-md-3 col-sm-6 list-images-selected__item">
                  <button class="reset-btn" type="button" data-bind="attr: { 'data-gallery-item': JSON.stringify($data) }">&times;</button>
                    <figure>
                      <img data-bind="attr: { src: $data.thumb }" alt="">
                    </figure>
              </li>
             </ul>
            {{ form_widget(form.galleryItemsId, { 'id': 'projectImagesId' }) }}
         </div>
        
        <div class="form-element">
          {{ form_widget(form.save) }}
        </div>
    </form>
  </div>
  {% include "BackendAdminBundle:Includes:modal-gallery.html.twig" %}
  {% include "BackendAdminBundle:Includes:modal-gallery-slider.html.twig" %}
{% endblock %}