<aside class="col-xs-12 col-md-3">
  <div id="menu">
    <header style="background-image: url('http://lorempixel.com/image_output/cats-q-c-640-480-4.jpg')">
      <div class="wrapper">
        <h3 class="light">{{ website_name }}</h3>
        <a href="{{ website_url_full_path }}" title="{{ website_url }}">Accéder au site</a>
      </div>
    </header>
    <nav>
      <ul class="list-unstyled">
        <li 
          {% if 'backend_admin_gallery' in app.request.attributes.get('_route') %}
            class="active" 
          {% endif %}>
            <a href="{{ path('backend_admin_gallery_display')}}" title="Aller page galerie">
              Galerie
            </a>
        </li>
        <li 
          {% if 'backend_admin_project' in app.request.attributes.get('_route') %}
            class="active" 
          {% endif %}>
            <a href="{{ path('backend_admin_projects_display') }}" title="Aller page projets">
              Projets
            </a>
        </li>
        <li>
            <a href="#" title="Aller page profil">
              Profil
            </a>
        </li> 
      </ul>
    </nav>
  </div>
</aside>